<div class="contact-chips">
  <a class="chip" href="mailto:{{ site.email }}">Email</a>
  <a class="chip" rel="{% unless include.decorative %}me {% endunless %}noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/williammora">LinkedIn</a>
  <a class="chip" rel="{% unless include.decorative %}me {% endunless %}noopener noreferrer" target="_blank" href="https://github.com/{{ site.github_username }}">GitHub</a>
  <a class="chip" rel="{% unless include.decorative %}me {% endunless %}noopener noreferrer" target="_blank" href="https://twitter.com/{{ site.twitter_username }}">X</a>
  <a class="chip" rel="{% unless include.decorative %}me {% endunless %}noopener noreferrer" target="_blank" href="https://www.goodreads.com/user/show/39044140">Goodreads</a>
</div>
