<a rel="me" target="_blank" href="https://www.linkedin.com/in/williammora" class="icon"><i class="fa fa-linkedin-square fa-2x"></i></a>
<a rel="me" target="_blank" href="https://twitter.com/_williammora" class="icon"><i class="fa fa-twitter-square fa-2x"></i></a> 
<a rel="me" target="_blank" href="https://github.com/wmora" class="icon"><i class="fa fa-github-square fa-2x"></i></a>
<a rel="me" target="_blank" data-email="contact mor ac" href="mailto:contact@mor.ac" class="icon"><i class="fa fa-envelope-square fa-2x"></i></a>
