<a rel="me" target="_blank" href="https://www.linkedin.com/profile/in/williammora" class="icon"><i class="fa fa-linkedin-square fa-2x"></i></a>
<a rel="me" target="_blank" href="https://twitter.com/_williammora" class="icon"><i class="fa fa-twitter-square fa-2x"></i></a> 
<a rel="me" target="_blank" href="https://plus.google.com/+WilliamMora/posts" class="icon"><i class="fa fa-google-plus-square fa-2x"></i></a> 
<a rel="me" target="_blank" href="https://github.com/wmora" class="icon"><i class="fa fa-github-square fa-2x"></i></a>
<a rel="me" target="_blank" data-email="william r mora gmail com" href="mailto:william.r.mora@gmail.com" class="icon"><i class="fa fa-envelope-square fa-2x"></i></a>