{% if page.share == true %}
  {% assign share_url = page.url | absolute_url %}
  <div class="share-page">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ share_url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow noopener noreferrer" target="_blank" title="Share on Twitter" class="icon"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="https://facebook.com/sharer.php?u={{ share_url }}" rel="nofollow noopener noreferrer" target="_blank" title="Share on Facebook" class="icon"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ page.title }}&source={{ page.author }}" rel="nofollow noopener noreferrer" target="_blank" title="Share on LinkedIn" class="icon"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://www.reddit.com/submit?url={{ share_url }}" rel="nofollow noopener noreferrer" target="_blank" title="Submit to Reddit" class="icon"><i class="fa fa-reddit-square fa-2x"></i></a>
  </div>
{% endif %}
