---
layout: blank
---
      <article>
        <header>
          <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
          {% include share-page.html %}
          <p>{% if page.author %} • {% endif %}{% if page.date %}<time>{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} • {{ page.categories | join: ', ' }}{% endif %}</p>
        </header>
        <div>
          {{ content }}
          {% include share-page.html %}
          {% include donate.html %}
          {% include bottom-ad.html %}
        </div>
      </article>